In [180]:
import pandas as pd
from pathlib import Path
import numpy as np
#df=pd.DataFrames
school_data_set = Path("Resources/schools_complete.csv")
student_data_set = Path("Resources/students_complete.csv")

school_data_df =pd.read_csv(r"C:\Users\agom2\OneDrive\Documents\Pandas-challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv")
student_data_df = pd.read_csv(r"C:\Users\agom2\OneDrive\Documents\Pandas-challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv")


school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#"school_name":[]
Schools=len(school_data_df["school_name"].unique())
print(Schools)
Students=len(student_data_df["student_name"])
print(Students)

Budget=(school_data_df["budget"].sum())
print(Budget)

Average_math=(student_data_df["math_score"].mean())
print(Average_math)
Average_reading=(student_data_df["reading_score"].mean())
print(Average_reading)


passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(Students) * 100
print (passing_math_percentage)

passing_reading_count= school_data_complete[(school_data_complete["reading_score"]>= 70)].count()["student_name"]
passing_reading_percentage= passing_reading_count/ float(Students)* 100
print(passing_reading_percentage)

passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(Students) * 100
overall_passing_rate
print(overall_passing_rate)

15
39170
24649428
78.98537145774827
81.87784018381414
74.9808526933878
85.80546336482001
65.17232575950983

In [186]:


district_summary=(
    {"Total schools":Schools,
    "Total Students": Students,
    "Budget Total":Budget,
    "Average Math Score": Average_math,
    "Average Reading Score": Average_reading,
    "Percent Passing Math":passing_math_percentage,
    "Percent Passing Reading":passing_reading_percentage,
    "Overall Passing":overall_passing_rate,})
district_summary=pd.DataFrame([district_summary])
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Budget Total"] = district_summary["Budget Total"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].map("%{:,.2f}".format)
district_summary["Percent Passing Reading"] = district_summary["Percent Passing Reading"].map("%{:,.2f}".format)
district_summary["Overall Passing"] = district_summary["Overall Passing"].map("{:,.2f}".format)
district_summary["Total schools"] = district_summary["Total schools"].map("{:,.2f}".format)
district_summary

,Total schools,Total Students,Budget Total,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing
0,15.00,"39,170","$24,649,428.00",78.99,81.88,%74.98,%85.81,65.17

In [187]:
#import numpy as np 
#import os
School_Types=(school_data_df["type"].count())
#print (School_Types)

grouped_school_df = school_data_complete.groupby(["school_name"])
#Students_per_School=len(student_data_df["school_name"])
totalStudents = grouped_school_df["Student ID"].count()
#print(totalStudents)


per_budget=school_data_df.set_index('school_name')['budget']
#print (per_budget)

per_school_capita=school_data_df.set_index('school_name')['budget']/school_data_df.set_index('school_name')['size']
#print (per_school_capita)

grouped_school_df = school_data_complete.groupby(["school_name"])

averageMathScore = grouped_school_df["math_score"].mean()
#print (averageMathScore)

averageReadingScore = grouped_school_df["reading_score"].mean()
#print(averageReadingScore)

passingMath = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
percentagePassingMath = passingMath / totalStudents * 100
#print(passingMath)
#print (percentagePassingMath)

passingRead = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
percentagePassingReading = passingRead / totalStudents * 100
#print(percentagePassingReading)

students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
#print(students_passing_math_and_reading)
per_school_passing_math = percentagePassingMath / totalStudents * 100
per_school_passing_reading = percentagePassingReading / totalStudents * 100
overall_passing_rates = (percentagePassingMath + percentagePassingReading) / 2
#print (per_school_passing_math)
#print(overall_passing_rates)
#print(per_school_passing_reading)

In [183]:
per_school_summary_df =pd.DataFrame({
    "Total Student": totalStudents,
    "Total School Budget":per_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score":averageMathScore,
    "Average Reading Score": averageReadingScore,
    "% Passing Math":percentagePassingMath,
    "% Passing Reading":percentagePassingReading,
    "% Overall Passing":overall_passing_rates})
#per_school_summary_df=pd.DataFrame([per_school_summary_df])
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:,.2f}".format)
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:,.2f}".format)
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("%{:,.2f}".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("%{:,.2f}".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("%{:,.2f}".format)
per_school_summary_df["Total Student"] = per_school_summary_df["Total Student"].map("{:,.2f}".format)
per_school_summary_df

,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,"4,976.00","$3,124,928.00",$628.00,77.05,81.03,%66.68,%81.93,%74.31
Cabrera High School,"1,858.00","$1,081,356.00",$582.00,83.06,83.98,%94.13,%97.04,%95.59
Figueroa High School,"2,949.00","$1,884,411.00",$639.00,76.71,81.16,%65.99,%80.74,%73.36
Ford High School,"2,739.00","$1,763,916.00",$644.00,77.10,80.75,%68.31,%79.30,%73.80
Griffin High School,"1,468.00","$917,500.00",$625.00,83.35,83.82,%93.39,%97.14,%95.27
Hernandez High School,"4,635.00","$3,022,020.00",$652.00,77.29,80.93,%66.75,%80.86,%73.81
Holden High School,427.00,"$248,087.00",$581.00,83.80,83.81,%92.51,%96.25,%94.38
Huang High School,"2,917.00","$1,910,635.00",$655.00,76.63,81.18,%65.68,%81.32,%73.50
Johnson High School,"4,761.00","$3,094,650.00",$650.00,77.07,80.97,%66.06,%81.22,%73.64
Pena High School,962.00,"$585,858.00",$609.00,83.84,84.04,%94.59,%95.95,%95.27
Rodriguez High School,"3,999.00","$2,547,363.00",$637.00,76.84,80.74,%66.37,%80.22,%73.29
Shelton High School,"1,761.00","$1,056,600.00",$600.00,83.36,83.73,%93.87,%95.85,%94.86
Thomas High School,"1,635.00","$1,043,130.00",$638.00,83.42,83.85,%93.27,%97.31,%95.29
Wilson High School,"2,283.00","$1,319,574.00",$578.00,83.27,83.99,%93.87,%96.54,%95.20
Wright High School,"1,800.00","$1,049,400.00",$583.00,83.68,83.95,%93.33,%96.61,%94.97

In [184]:

top_schools=per_school_summary_df.sort_values((["% Overall Passing"]),ascending=False)
top_schools.head(5)

,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,"1,858.00","$1,081,356.00",$582.00,83.06,83.98,%94.13,%97.04,%95.59
Thomas High School,"1,635.00","$1,043,130.00",$638.00,83.42,83.85,%93.27,%97.31,%95.29
Griffin High School,"1,468.00","$917,500.00",$625.00,83.35,83.82,%93.39,%97.14,%95.27
Pena High School,962.00,"$585,858.00",$609.00,83.84,84.04,%94.59,%95.95,%95.27
Wilson High School,"2,283.00","$1,319,574.00",$578.00,83.27,83.99,%93.87,%96.54,%95.20

In [185]:
bottom_schools=per_school_summary_df.sort_values((["% Overall Passing"]),ascending=True)
bottom_schools.head(5)

,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,"3,999.00","$2,547,363.00",$637.00,76.84,80.74,%66.37,%80.22,%73.29
Figueroa High School,"2,949.00","$1,884,411.00",$639.00,76.71,81.16,%65.99,%80.74,%73.36
Huang High School,"2,917.00","$1,910,635.00",$655.00,76.63,81.18,%65.68,%81.32,%73.50
Johnson High School,"4,761.00","$3,094,650.00",$650.00,77.07,80.97,%66.06,%81.22,%73.64
Ford High School,"2,739.00","$1,763,916.00",$644.00,77.10,80.75,%68.31,%79.30,%73.80